/.DS_Store
/sensitivitycredal.aux
/sensitivitycredal.bbl
/sensitivitycredal.blg
/sensitivitycredal.fdb_latexmk
/sensitivitycredal.fls
/sensitivitycredal.log
/sensitivitycredal.out
/sensitivitycredal.pdf
/sensitivitycredal.synctex.gz
